  <nav class="navbar" id="navbar" role="navigation" aria-label="Main navigation">
    <a href="index.html" class="navbar__brand">Paweł Piwek</a>
    <button class="navbar__toggle" aria-label="Toggle navigation" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <ul class="navbar__links" id="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="career.html">Career</a></li>
      <li class="dropdown">
        <a href="teaching.html">Teaching</a>
        <ul class="dropdown__menu">
          <li><a href="class-posets.html">Posets &amp; Galois Connections</a></li>
          <li><a href="class-exotic-cousins.html">Exotic Cousins of Integers</a></li>
          <li><a href="class-symmetry.html">What is Symmetry, Actually?</a></li>
          <li><a href="class-markov-chains.html">(PL) Łańcuchy Markowa</a></li>
        </ul>
      </li>
      <li><a href="research.html">Research</a></li>
      <li><a href="projects.html">Projects</a></li>
    </ul>
  </nav>
